/* importing fonts from external providers*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* initial context setup */
img,
embed,
video,
object {
    max-width: 100%;
}

/* header */
.header__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #7d97ad;
}

.header__logo {
    margin: 12px 0 0 0;
    float: left;
}

.header__title {
    font: 300 1.35em Roboto, sans-serif;
    font-size: 6.5vw;
    margin: 10px 0 0 0;
    display: inline-block;
    color: #212121;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
}

/*to maintain page formate the font is really small for small screens, we start increaing the font as the view port gets bigger*/
@media screen and (min-width: 390px) {
    .header__title {
        font-size: 2em;
        font-size: 6.5vw;
    }
}

@media screen and (min-width: 500px) {
    .header__title {
        font-size: 2.75em;
    }
}

.header__slogan {
    font: lighter 0.9em Roboto, sans-serif;
    font-size: 4vw;
    margin: 0;
    display: inline-block;
    color: #212121;
    float: right;
    clear: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*as title size was increased so did the slogan*/
@media screen and (min-width: 390px) {
    .header__slogan {
        font-size: 1em;
        font-size: 3.5vw;
    }
}

/*once we reached our target size we fix it*/
@media screen and (min-width: 500px) {
    .header__slogan {
        font-size: 1.25em;
    }
}

/*container of the main image, used to keep the image centered in big view ports and provide proper margin*/
.slider__image{
    margin-top: 20px;
    text-align: center;
}

/* articles section (content)*/
.articles__section__title {
    margin: 0.8em 0 0.6em 0;
    font: lighter 1.75em Roboto, sans-serif;
    letter-spacing: 1.5px;
    color: #7d97ad;
    text-align: center;
}

.article__box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* a resposive border */
.article__border {
    border-bottom: 1px solid #7d97ad;
    border-width: 0.5em;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 400px; /*max width of our border */
}

.article__title {
    margin: 5px 0 5px 0;
    text-align: center;
    font: lighter 1.75em Roboto, sans-serif;
    letter-spacing: 2px;
}

.article__url {
    font: lighter 1em Roboto, sans-serif;
    color: #000;
    text-decoration: none;
}

.article__image {
    width: 298px;
}

/*our intial articles section is line organized, at 800px changed to 3 columns inline*/
@media screen and (min-width: 992px) {
    .articles__section__title {
        margin: 0.8em 0 0.3em 0.7em; /*this changed as it is now inline*/
        font: 300 2em Roboto, sans-serif;
        color: #7d97ad;
        text-align: left;
    }

    .article__box{
        padding-top: 0;
    }

    /*border not used anymore*/
    .article__border {
        padding: 0;
        border-bottom: 0;
        margin: 0;
    }

    .article__title {
        font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .articles__section__title {
        margin: 0.8em 0 0.3em 1.5em; /*this changed as it is now inline*/
        font: 300 2em Roboto, sans-serif;
        color: #7d97ad;
        text-align: left;
    }
}